/* CSS Document */
*{margin:0 auto;}
body{ font-size:12px; font-family: "΢���ź�" ;  color:#2e74bb; }
.title{ background-image:url(../img/title.jpg); background-repeat:no-repeat; height:200px; width:1000px;}
.line_nav{ background-image:url(../img/line-nav.png); background-repeat:no-repeat; height:41px;width:1000px;}
.line_nav ul{ list-style:none;  padding-top:10px;  text-align:center;  }
.line_nav ul li {float:left;  font-size:16px; width:100px; font-weight:bold;  }
.line_nav ul li a{ color:#1d68a3; text-decoration:none;}
.content{ width:840px;padding-top:20px; height:730px; }
.left{ width:70%; float:left;  margin-right:20px;   }
.right{ width:231px; float:left; border-left:dashed 1px #dcdfe0; }
 .question{ background-image:url(../img/logo_1.png); background-repeat:no-repeat;  color:#58b6f6; line-height:22px; margin-top:10px;}
 .q{ padding-left:20px; border:dashed 1px #a3a4a4;}
.p1 { color:#a3a4a4; font-size:16px; line-height:25px; font-weight:bold; text-align:left; padding-left:18px; }
.footer{clear:both; line-height: 50px; background-image:url(../img/bottom.png); background-repeat:no-repeat; color:#FFFFFF; text-align:center; width:1000px; margin:0 auto; height:50px; }
.p2{ font-size:16px; color:#8b8b8b; margin-bottom:10px;}
.p3{ font-size:14px; font-family:"����"; line-height:26px; color:#535454;}
